<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="BRAINTREE_MERCHANT_ID" value="jntvvkvbyckjbrhn"/>
        <env name="BRAINTREE_PUBLIC_KEY" value="skmbpxdgdjw3rjyj"/>
        <env name="BRAINTREE_PRIVATE_KEY" value="b2e89a8050002bb5a7a7e80d6fcb7b0d"/>
        <env name="BRAINTREE_MODEL" value="Laravel\Cashier\Tests\Fixtures\User"/>
    </php>
</phpunit>
